* {
  font-family: 'Roboto', sans-serif;
}

#root,
body {
  background-color: #161616;
}

html,
body,
#root,
#root > div {
  max-height: 100%;
}

body {
  position: relative;
}

.dashboard header {
  background-color: #1E1E1E;
}

.dashboard header nav a {
  color: #8a8a8a;
}

.mode-switcher p {
  color: #8a8a8a;
}